.board {
  height: 640px;
  width: 640px;
  background: black;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 80px;
  width: 80px;
  background: gray;
}

.square svg {
  height: 60px;
  width: 60px;
  margin: 10px;
}

.light-square {
  background-color: rgb(213, 213, 168);
}

.dark-square {
  background-color: rgba(117, 150, 85, 255);
}

.black {
  fill: rgb(56, 62, 57);
}

.white {
  fill: white;
}

.selected {
  background-color: rgb(173, 98, 98);
}

.valid-move {
  /* background-color: darkgray; */
  border: 5px solid;
  box-sizing: border-box;
  animation: blink 3s infinite;
}

@keyframes blink {
  0%,
  100% {
    border-color: rgb(82, 82, 82);
  }
  50% {
    border-color: transparent;
  }
}

.vulnerable {
  /* margin: 5px; */
  outline: 2px solid red;
  box-sizing: border-box;
  margin-bottom: 0px;
  height: 100%;
}

.vulnerable svg {
  margin: 4.5px;
}

@keyframes blink2 {
}
